header {
  .name {
    font-family: "Jolly Lodger", cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    line-height: 97px;
    color: black;
  }
  img {
    margin-right: 15px;
    vertical-align: middle;
  }

  h3,
  p {
    margin: 0;
  }
}
