body {
  overflow-x: hidden;
  margin: 0;
  font-family: 'Montserrat', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  width: 1728px;
  height: 1117px;
  background: linear-gradient(129.35deg, #724521 16.71%, #482D1D 80.54%);
  color: white;
}

.wrapper {
  max-width: 1480px;
  margin: 30px auto;
  margin-right: 5%;
}

header {
  .name {
    font-family: 'Jolly Lodger', cursive;
    font-style: normal;
    font-weight: 100;
    font-size: 60px;
    line-height: 97px;
    color: white;
  }
  img {
    margin-right: 15px;
    vertical-align: middle;
  }

  h3,p {
    margin: 0;
  }
}

.main-page {
  h1 {
    position: absolute;
    right: 469px;
    top: 251px;
    font-size: 50px;
  }
  p {
    position: absolute;
    width: 505px;
    right: 192px;
    top: 379px;
    font-size: 20px;
    font-weight: 55px;
    line-height: 28px;
  }
  .img-left {
    position: absolute;
    width: 817px;
    height: 543px;
    left: -459px;
    top: 305px;
  }
  .img-right {
    position: absolute;
    width: 817px;
    height: 543px;
    left: 1579px;
    top: 296px;
  }
  .order-now {
    position: absolute;
    left: 1029px;
    top: 672px;
  }
  .add-to-cart {
    position: absolute;
    left: 1274px;
    top: 672px;
  }
}


